---
import Layout from "../layouts/Layout.astro";
import "../styles/global.styles.css";
---

<Layout title='Emprender O Laborar'>
  <main class='flex flex-col justify-start items-center w-full h-screen gap-10'>
    <div
      id='header'
      class='w-full h-auto lg:h-[80px] bg-[#62ceea] justify-center flex items-center shadow-md'>
      <h1
        class='w-[380px] pt-3 pb-3 lg:w-fit text-justify font-bold text-xl lg:text-2xl'>
        Preferencias de los Estudiantes de CEUTEC al Terminar su Carrera:
        Emprender o Laborar en una Organización
      </h1>
    </div>
    <div id='introduccion' class='w-[350px] lg:w-2/4 flex flex-col gap-3'>
      <h1 class='text-center font-bold text-2xl'>Introduccion</h1>
      <p class='text-justify text-xl'>
        Esta encuesta se llevó a cabo con el objetivo de comprender las
        preferencias de los estudiantes de CEUTEC en cuanto a su futuro
        profesional. Buscamos determinar si los estudiantes prefieren emprender
        su propio negocio o trabajar en una organización establecida.
      </p>
    </div>
    <div id='Comparations' class='w-full lg:w-2/4 flex flex-col gap-3'>
      <h1 class='text-center lg:text-left font-bold text-2xl'>
        Comparacion Principal -- Emprender vs Laborar
      </h1>
      <div class='bg-[#62ceea] h-[500px] flex justify-center items-center'>
        Grafico de barras aqui
      </div>
    </div>
    <div id='Comparations' class='w-full lg:w-2/4 flex flex-col gap-3'>
      <h1 class='text-center lg:text-left font-bold text-2xl'>
        Resultados de la Encuesta
      </h1>
      <div class='bg-[#62ceea] h-[500px] flex justify-center items-center'>
        Grafico de barras aqui
      </div>
    </div>

    <div id='conclusion' class='w-[350px] lg:w-2/4 flex flex-col gap-3'>
      <h1 class='text-center font-bold text-2xl'>Conclusión</h1>
      <p class='text-justify text-xl'>
        Nuestros hallazgos sugieren que los estudiantes de CEUTEC tienen una
        fuerte inclinación hacia el emprendimiento, lo que respalda nuestra
        hipótesis inicial. Estos resultados tienen implicaciones importantes
        para la planificación de carreras y el desarrollo de programas
        educativos que fomenten el espíritu empresarial entre los estudiantes.
      </p>
    </div>
  </main>
</Layout>
